readonly CONFIG_DIR=/opt/snowplow/config

sudo mkdir -p $${CONFIG_DIR}

sudo cat << EOF > $${CONFIG_DIR}/config.hocon
${config}
EOF
sudo cat << EOF > $${CONFIG_DIR}/iglu_config.json
${iglu_config}
EOF

# TODO: Remove me when image goes public!
sudo docker login -u ${dockerhub_username} -p "${dockerhub_access_token}"

sudo docker run \
  -d \
  --name lake-loader \
  --restart always \
  --network host \
  --memory=$(get_application_memory_mb)m \
  --log-opt max-size=10m \
  --log-opt max-file=5 \
  -v $${CONFIG_DIR}:/snowplow/config \
  --env AZURE_TENANT_ID=${tenant_id} \
  --env AZURE_CLIENT_ID=${client_id}  \
  --env AZURE_CLIENT_SECRET=${client_secret} \
  --env INSTANCE_ID=$(get_instance_id) \
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  snowplow/lake-loader-azure:${version} \
  --iglu-config /snowplow/config/iglu_config.json \
  --config /snowplow/config/config.hocon 

${telemetry_script}
